.find{
    top: 5rem;
    left: 100%;
    margin-top: -7rem;
}


.icon {
    font-size: 3em;
    margin: 0.3rem;
  }

  @media (max-width: 768px) {
    .find {
      margin-top: 3rem;
    }
  
    .icon {
      font-size: 3em;
      margin: 0.4rem;
    }
  }
  