.skillsWrapper {
  height: auto;
  position: relative;
}

.skillsContainer {
  margin-top: 5rem; /* Adjust the margin to move the image nearer */
  position: relative;
}


.skillCircle {
  display: inline-block;
  width: 20px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid #ffff;
  position: absolute;
  z-index: 1;
}

.skillCircle::after {
  content: attr(data-text);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.skillCircle:hover::after {
  opacity: 1;
}

.react {
  background-color: #61dafb;
  top: 12.7rem;
  left: 17.8rem;

}

.php {
  background-color: #e48e00;
  top: 17.2rem;
  left: 15.8rem;

}

.mysql {
  background-color: #00ff40;
  top: 16.4rem;
  left: 68%;

}

.csharp {
  background-color: #7f5ab6 !important;
  top: 12.5rem;
  left: 21.2rem;
}

.English {
  background-color: #ffff00;
  top: 13rem;
  left: 14.3rem;

}

.git {
  background-color: #f05032;
  top: 13.5rem;
  left: 30%;

}


@media (max-width: 768px) {

  .skillsContainer {
    margin-bottom: -5rem;
    position: relative;
  }

  .skillCircle {
    width: 15px;
    height: 20px;
    border-width: 2px;
  }

  .skillCircle::after {
    font-size: 12px;
    padding: 4px 8px;
  }

  .react {
    top: 13rem; /* Increased by 1 unit */
    left: 45%;
}

.php {
    top: 15.5rem; /* Increased by 1 unit */
    left: 40%;
}

.mysql {
    top: 15.5rem; /* Increased by 1 unit */
    left: 68%;
}

.csharp {
    top: 13rem; /* Increased by 1 unit */
    left: 53%;
}

.English {
    top: 13.5rem; /* Increased by 1 unit */
    left: 36%;
}

.git {
    top: 14rem; /* Increased by 1 unit */
    left: 30%;
}


  
}
