.skillsWrapper {
    height: auto;
  }

.skillsContainer {
    margin-top: 5rem;
    background-image: url('../images/infinitoChiquito.png');
    /* background-size: cover; 
    background-position: center; 
    width: 100%; 
    height: auto;  */
}

.skillsBackground {
    /* background-image: url('../images/infinitoChiquito.png'); */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    visibility: hidden !important;
  }
  
  .showBackground .skillsBackground {
    visibility: visible !important;
  }